In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [3]:
data_movie_gross['year']

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
3382    2018
3383    2018
3384    2018
3385    2018
3386    2018
Name: year, Length: 3387, dtype: int64

In [4]:
data_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [5]:
data_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [6]:
data_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [7]:
data_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [8]:
data_title_overall = pd.merge(data_title_basics, data_title_ratings, on='tconst', how='inner')

In [9]:
data_title_overall.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [10]:
data_title_overall = data_title_overall.rename(columns={'primary_title': 'title'})

In [11]:
data_title_overall.head()

,tconst,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [12]:
data_movie_gross.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [13]:
movie_titles = pd.merge(data_movie_gross, data_title_overall, on='title', how='inner')

In [14]:
movie_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            3027 non-null   object
 1   studio           3024 non-null   object
 2   domestic_gross   3005 non-null   float64
 3   foreign_gross    1832 non-null   object
 4   year             3027 non-null   int64
 5   tconst           3027 non-null   object
 6   original_title   3027 non-null   object
 7   start_year       3027 non-null   int64
 8   runtime_minutes  2980 non-null   float64
 9   genres           3020 non-null   object
 10  averagerating    3027 non-null   float64
 11  numvotes         3027 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 307.4+ KB

In [15]:
movie_titles.head()

,title,studio,domestic_gross,foreign_gross,year,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Toy Story 3,BV,415000000.0,652000000,2010,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
1,Inception,WB,292600000.0,535700000,2010,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,tt0892791,Shrek Forever After,2010,93.0,"Adventure,Animation,Comedy",6.3,167532
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,tt1325004,The Twilight Saga: Eclipse,2010,124.0,"Adventure,Drama,Fantasy",5.0,211733
4,Iron Man 2,Par.,312400000.0,311500000,2010,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690

In [16]:
movie_titles.nunique()

title              2598
studio              216
domestic_gross     1522
foreign_gross      1006
year                  9
tconst             3025
original_title     2727
start_year           10
runtime_minutes     134
genres              322
averagerating        71
numvotes           2742
dtype: int64

In [17]:
movie_titles.head(20)

,title,studio,domestic_gross,foreign_gross,year,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Toy Story 3,BV,415000000.0,652000000,2010,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
1,Inception,WB,292600000.0,535700000,2010,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,tt0892791,Shrek Forever After,2010,93.0,"Adventure,Animation,Comedy",6.3,167532
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,tt1325004,The Twilight Saga: Eclipse,2010,124.0,"Adventure,Drama,Fantasy",5.0,211733
4,Iron Man 2,Par.,312400000.0,311500000,2010,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
5,Tangled,BV,200800000.0,391000000,2010,tt0398286,Tangled,2010,100.0,"Adventure,Animation,Comedy",7.8,366366
6,Despicable Me,Uni.,251500000.0,291600000,2010,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511
7,How to Train Your Dragon,P/DW,217600000.0,277300000,2010,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
8,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010,tt0980970,The Chronicles of Narnia: The Voyage of the Da...,2010,113.0,"Adventure,Family,Fantasy",6.3,129663
9,The King's Speech,Wein.,135500000.0,275400000,2010,tt1504320,The King's Speech,2010,118.0,"Biography,Drama,History",8.0,593629
10,The Karate Kid,Sony,176600000.0,182500000,2010,tt1155076,The Karate Kid,2010,140.0,"Action,Drama,Family",6.2,146401
11,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010,tt0473075,Prince of Persia: The Sands of Time,2010,116.0,"Action,Adventure,Fantasy",6.6,254975
12,Black Swan,FoxS,107000000.0,222400000,2010,tt0947798,Black Swan,2010,108.0,"Drama,Thriller",8.0,648854
13,Megamind,P/DW,148400000.0,173500000,2010,tt1001526,Megamind,2010,95.0,"Action,Animation,Comedy",7.3,207488
14,Robin Hood,Uni.,105300000.0,216400000,2010,tt0955308,Robin Hood,2010,140.0,"Action,Adventure,Drama",6.6,239480
15,Robin Hood,Uni.,105300000.0,216400000,2010,tt2363363,Robin Hood,2013,92.0,"Action,Drama",6.3,78
16,Robin Hood,Uni.,105300000.0,216400000,2010,tt4532826,Robin Hood,2018,116.0,"Action,Adventure,Thriller",5.3,41588
17,Robin Hood,Uni.,105300000.0,216400000,2010,tt6858500,Robin Hood,2018,NaN,NaN,7.6,5
18,The Last Airbender,Par.,131800000.0,187900000,2010,tt0938283,The Last Airbender,2010,103.0,"Action,Adventure,Family",4.1,137734
19,Little Fockers,Uni.,148400000.0,162200000,2010,tt0970866,Little Fockers,2010,98.0,"Comedy,Romance",5.5,99222

In [18]:
movie_titles = movie_titles[['title', 'studio', 'domestic_gross', 'foreign_gross', 'year', 'genres', 'averagerating']]

In [19]:
movie_titles.dropna(axis=0, how='any', inplace=True)

In [20]:
movie_titles.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
genres            0
averagerating     0
dtype: int64

In [21]:
movie_titles['foreign_gross'] = movie_titles.foreign_gross.str.split(',').str.join('').astype(float)

In [22]:
is2010 = movie_titles['year'] == 2010

In [23]:
movie_titles['total_gross'] = movie_titles['domestic_gross'] + movie_titles['foreign_gross']

In [24]:
movie_titles['total_gross'].apply(lambda x: '%.5f' % x)

0       1067000000.00000
1        828300000.00000
2        752600000.00000
3        698500000.00000
4        623900000.00000
              ...
2927       2191000.00000
2930       1501400.00000
2940        954000.00000
2959        266000.00000
3001         73200.00000
Name: total_gross, Length: 1803, dtype: object

In [25]:
movie_titles_2010 = movie_titles[is2010]

In [26]:
movie_titles_2010.head()

,title,studio,domestic_gross,foreign_gross,year,genres,averagerating,total_gross
0,Toy Story 3,BV,415000000.0,652000000.0,2010,"Adventure,Animation,Comedy",8.3,1.067000e+09
1,Inception,WB,292600000.0,535700000.0,2010,"Action,Adventure,Sci-Fi",8.8,8.283000e+08
2,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,"Adventure,Animation,Comedy",6.3,7.526000e+08
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,"Adventure,Drama,Fantasy",5.0,6.985000e+08
4,Iron Man 2,Par.,312400000.0,311500000.0,2010,"Action,Adventure,Sci-Fi",7.0,6.239000e+08

In [27]:
movie_titles_2010.head()

,title,studio,domestic_gross,foreign_gross,year,genres,averagerating,total_gross
0,Toy Story 3,BV,415000000.0,652000000.0,2010,"Adventure,Animation,Comedy",8.3,1.067000e+09
1,Inception,WB,292600000.0,535700000.0,2010,"Action,Adventure,Sci-Fi",8.8,8.283000e+08
2,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,"Adventure,Animation,Comedy",6.3,7.526000e+08
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,"Adventure,Drama,Fantasy",5.0,6.985000e+08
4,Iron Man 2,Par.,312400000.0,311500000.0,2010,"Action,Adventure,Sci-Fi",7.0,6.239000e+08

In [28]:
is2011 = movie_titles['year'] == 2011
movie_titles_2011 = movie_titles[is2011]

In [29]:
is2012 = movie_titles['year'] == 2012
movie_titles_2012 = movie_titles[is2012]

In [30]:
is2013 = movie_titles['year'] == 2013
movie_titles_2013 = movie_titles[is2013]

In [31]:
is2014 = movie_titles['year'] == 2014
movie_titles_2014 = movie_titles[is2014]

In [32]:
is2015 = movie_titles['year'] == 2015
movie_titles_2015 = movie_titles[is2015]

In [33]:
is2016 = movie_titles['year'] == 2016
movie_titles_2016 = movie_titles[is2016]

In [34]:
is2017 = movie_titles['year'] == 2017
movie_titles_2017 = movie_titles[is2017]

In [35]:
is2018 = movie_titles['year'] == 2018
movie_titles_2018 = movie_titles[is2018]

In [36]:
movie_titles_2018.head(10)

,title,studio,domestic_gross,foreign_gross,year,genres,averagerating,total_gross
2751,Avengers: Infinity War,BV,678800000.0,1369.5,2018,"Action,Adventure,Sci-Fi",8.5,6.788014e+08
2752,Black Panther,BV,700100000.0,646900000.0,2018,"Action,Adventure,Sci-Fi",7.3,1.347000e+09
2753,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018,"Action,Adventure,Sci-Fi",6.2,1.309500e+09
2754,Incredibles 2,BV,608600000.0,634200000.0,2018,"Action,Adventure,Animation",7.7,1.242800e+09
2755,Aquaman,WB,335100000.0,812700000.0,2018,"Action,Adventure,Fantasy",7.1,1.147800e+09
2756,Bohemian Rhapsody,Fox,216400000.0,687200000.0,2018,"Biography,Drama,Music",8.0,9.036000e+08
2757,Mission: Impossible - Fallout,Par.,220200000.0,571000000.0,2018,"Action,Adventure,Thriller",7.8,7.912000e+08
2758,Deadpool 2,Fox,318500000.0,460500000.0,2018,"Action,Adventure,Comedy",7.8,7.790000e+08
2759,Fantastic Beasts: The Crimes of Grindelwald,WB,159600000.0,494100000.0,2018,"Adventure,Family,Fantasy",6.6,6.537000e+08
2760,Ant-Man and the Wasp,BV,216600000.0,406000000.0,2018,"Action,Adventure,Comedy",7.1,6.226000e+08

In [37]:
movie_titles_2010

,title,studio,domestic_gross,foreign_gross,year,genres,averagerating,total_gross
0,Toy Story 3,BV,415000000.0,652000000.0,2010,"Adventure,Animation,Comedy",8.3,1.067000e+09
1,Inception,WB,292600000.0,535700000.0,2010,"Action,Adventure,Sci-Fi",8.8,8.283000e+08
2,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,"Adventure,Animation,Comedy",6.3,7.526000e+08
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,"Adventure,Drama,Fantasy",5.0,6.985000e+08
4,Iron Man 2,Par.,312400000.0,311500000.0,2010,"Action,Adventure,Sci-Fi",7.0,6.239000e+08
...,...,...,...,...,...,...,...,...
231,As Good as Dead,First,2000.0,53600.0,2010,"Crime,Thriller",5.2,5.560000e+04
232,Inhale,IFC,4100.0,51000.0,2010,"Drama,Thriller",6.6,5.510000e+04
233,GasLand,WOW,30800.0,18600.0,2010,Documentary,7.7,4.940000e+04
234,Bluebeard,Strand,33500.0,5200.0,2010,Horror,6.1,3.870000e+04
235,Bluebeard,Strand,33500.0,5200.0,2010,Thriller,6.4,3.870000e+04

In [38]:
movie_titles_2010.loc[:30]

,title,studio,domestic_gross,foreign_gross,year,genres,averagerating,total_gross
0,Toy Story 3,BV,415000000.0,652000000.0,2010,"Adventure,Animation,Comedy",8.3,1.067000e+09
1,Inception,WB,292600000.0,535700000.0,2010,"Action,Adventure,Sci-Fi",8.8,8.283000e+08
2,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,"Adventure,Animation,Comedy",6.3,7.526000e+08
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,"Adventure,Drama,Fantasy",5.0,6.985000e+08
4,Iron Man 2,Par.,312400000.0,311500000.0,2010,"Action,Adventure,Sci-Fi",7.0,6.239000e+08
5,Tangled,BV,200800000.0,391000000.0,2010,"Adventure,Animation,Comedy",7.8,5.918000e+08
6,Despicable Me,Uni.,251500000.0,291600000.0,2010,"Animation,Comedy,Family",7.7,5.431000e+08
7,How to Train Your Dragon,P/DW,217600000.0,277300000.0,2010,"Action,Adventure,Animation",8.1,4.949000e+08
8,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000.0,2010,"Adventure,Family,Fantasy",6.3,4.157000e+08
9,The King's Speech,Wein.,135500000.0,275400000.0,2010,"Biography,Drama,History",8.0,4.109000e+08
10,The Karate Kid,Sony,176600000.0,182500000.0,2010,"Action,Drama,Family",6.2,3.591000e+08
11,Prince of Persia: The Sands of Time,BV,90800000.0,245600000.0,2010,"Action,Adventure,Fantasy",6.6,3.364000e+08
12,Black Swan,FoxS,107000000.0,222400000.0,2010,"Drama,Thriller",8.0,3.294000e+08
13,Megamind,P/DW,148400000.0,173500000.0,2010,"Action,Animation,Comedy",7.3,3.219000e+08
14,Robin Hood,Uni.,105300000.0,216400000.0,2010,"Action,Adventure,Drama",6.6,3.217000e+08
15,Robin Hood,Uni.,105300000.0,216400000.0,2010,"Action,Drama",6.3,3.217000e+08
16,Robin Hood,Uni.,105300000.0,216400000.0,2010,"Action,Adventure,Thriller",5.3,3.217000e+08
18,The Last Airbender,Par.,131800000.0,187900000.0,2010,"Action,Adventure,Family",4.1,3.197000e+08
19,Little Fockers,Uni.,148400000.0,162200000.0,2010,"Comedy,Romance",5.5,3.106000e+08
20,Resident Evil: Afterlife,SGem,60100000.0,240100000.0,2010,"Action,Adventure,Horror",5.9,3.002000e+08
21,Shutter Island,Par.,128000000.0,166800000.0,2010,"Mystery,Thriller",8.1,2.948000e+08
22,Salt,Sony,118300000.0,175200000.0,2010,"Action,Mystery,Thriller",6.4,2.935000e+08
23,Sex and the City 2,WB (NL),95300000.0,193000000.0,2010,"Comedy,Drama,Romance",4.4,2.883000e+08
24,The Tourist,Sony,67600000.0,210700000.0,2010,"Action,Adventure,Thriller",6.0,2.783000e+08
25,The Expendables,LGF,103100000.0,171400000.0,2010,"Action,Adventure,Thriller",6.5,2.745000e+08
26,Grown Ups,Sony,162000000.0,109400000.0,2010,Comedy,6.0,2.714000e+08
27,True Grit,Par.,171200000.0,81000000.0,2010,"Adventure,Drama,Western",7.6,2.522000e+08
28,Gulliver's Travels,Fox,42800000.0,194600000.0,2010,"Adventure,Comedy,Family",4.9,2.374000e+08
29,The Social Network,Sony,97000000.0,128000000.0,2010,"Biography,Drama",7.7,2.250000e+08
30,Valentine's Day,WB (NL),110500000.0,106000000.0,2010,"Comedy,Romance",5.7,2.165000e+08

In [40]:
movie_genres = movie_titles[['title', 'genres']]

In [41]:
movie_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1803 entries, 0 to 3001
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1803 non-null   object
 1   genres  1803 non-null   object
dtypes: object(2)
memory usage: 42.3+ KB

In [30]:
movie_genres.head()

                        title                      genres
0                 Toy Story 3  Adventure,Animation,Comedy
1                   Inception     Action,Adventure,Sci-Fi
2         Shrek Forever After  Adventure,Animation,Comedy
3  The Twilight Saga: Eclipse     Adventure,Drama,Fantasy
4                  Iron Man 2     Action,Adventure,Sci-Fi

In [38]:
df_unique = movie_genres.genres.unique()

In [40]:
print(df_unique)

['Adventure,Animation,Comedy' 'Action,Adventure,Sci-Fi'
 'Adventure,Drama,Fantasy' 'Animation,Comedy,Family'
 'Action,Adventure,Animation' 'Adventure,Family,Fantasy'
 'Biography,Drama,History' 'Action,Drama,Family'
 'Action,Adventure,Fantasy' 'Drama,Thriller' 'Action,Animation,Comedy'
 'Action,Adventure,Drama' 'Action,Drama' 'Action,Adventure,Thriller'
 'Action,Adventure,Family' 'Comedy,Romance' 'Action,Adventure,Horror'
 'Mystery,Thriller' 'Action,Mystery,Thriller' 'Comedy,Drama,Romance'
 'Comedy' 'Adventure,Drama,Western' 'Adventure,Comedy,Family'
 'Biography,Drama' 'Adventure,Comedy' 'Drama,Romance' 'Thriller' 'Drama'
 'Horror' 'Action,Comedy,Crime' 'Action,Thriller' 'Documentary'
 'Action,Crime' 'Crime,Drama,Thriller' 'Comedy,Crime,Romance'
 'Drama,Fantasy,Horror' 'Action,Comedy,Romance' 'Biography,Drama,Sport'
 'Drama,Romance,War' 'Action,Comedy,Family' 'Comedy,Family,Fantasy'
 'Drama,Fantasy,Romance' 'Crime,Drama,Mystery' 'Action,Crime,Drama'
 'Action,Comedy' 'Action,Drama,Thriller' 'Adventure,Comedy,Music'
 'Drama,Music,Musical' 'Drama,Music,Romance' 'Comedy,Family'
 'Comedy,Horror' 'Adventure,Comedy,Drama' 'Comedy,Drama,Family'
 'Action,Crime,Thriller' 'Drama,Horror,Thriller' 'Action,Sci-Fi,Thriller'
 'Comedy,Sci-Fi' 'Horror,Mystery,Thriller' 'Adventure,Biography,Drama'
 'Biography,Drama,Family' 'Drama,Mystery,Thriller' 'Horror,Thriller'
 'Action,Comedy,Fantasy' 'Comedy,Family,Romance' 'Action,Adventure,Crime'
 'Comedy,Romance,Sport' 'Drama,Music' 'Comedy,Drama' 'Action,Crime,Sci-Fi'
 'Action,Family,Fantasy' 'Drama,Mystery' 'Crime,Drama'
 'Biography,Comedy,Drama' 'Action,Fantasy,Western' 'Action,Drama,Fantasy'
 'Crime,Horror,Mystery' 'Biography,Crime,Drama' 'Drama,Romance,Sci-Fi'
 'Crime,Documentary' 'Biography,Documentary' 'Comedy,Crime,Documentary'
 'Biography,Drama,Music' 'Adventure' 'Comedy,Crime,Drama'
 'Drama,Sci-Fi,Thriller' 'Adventure,Fantasy,Horror' 'Crime,Drama,Horror'
 'Documentary,Drama,Mystery' 'Action,Drama,Romance' 'Drama,Family'
 'Family,Sport' 'Comedy,Crime' 'Family' 'Comedy,Drama,Musical'
 'Documentary,War' 'Biography,Drama,Romance' 'Action,Fantasy,Horror'
 'Biography,Comedy,Crime' 'Comedy,Drama,Music' 'Drama,Romance,Thriller'
 'Comedy,Drama,Fantasy' 'Thriller,Western' 'Documentary,History'
 'Crime,Thriller' 'Comedy,Mystery' 'Action,Drama,Sci-Fi'
 'Mystery,Sci-Fi,Thriller' 'Adventure,Drama,Family' 'Drama,History,War'
 'Action,Adventure,Comedy' 'Comedy,Fantasy,Romance'
 'Romance,Sci-Fi,Thriller' 'Adventure,Drama,Thriller' 'Documentary,Music'
 'Adventure,Comedy,Sci-Fi' 'Horror,Mystery' 'Drama,Horror,Mystery'
 'Fantasy,Horror,Mystery' 'Action,Comedy,Drama' 'Action,Sci-Fi'
 'Comedy,Fantasy' 'Documentary,News' 'Drama,Fantasy' 'Drama,History'
 'Adventure,Drama,Mystery' 'Action' 'Adventure,Animation,Family'
 'Fantasy,Horror,Thriller' 'Adventure,Documentary'
 'Action,Fantasy,Thriller' 'Action,Drama,History' 'Horror,Mystery,Sci-Fi'
 'Adventure,Comedy,Fantasy' 'Drama,Sport' 'Drama,War'
 'Adventure,Drama,History' 'Documentary,Drama,Family'
 'Comedy,Crime,Thriller' 'Animation,Comedy,Crime' 'Drama,Sci-Fi'
 'Drama,Mystery,Romance' 'Crime,Drama,History' 'Horror,Romance'
 'Comedy,Drama,Sport' 'Adventure,Comedy,Western'
 'Crime,Documentary,History' 'Biography,Documentary,Sport'
 'Action,Comedy,Sci-Fi' 'Comedy,Crime,History' 'Crime,Drama,Romance'
 'Comedy,Drama,Mystery' 'Action,Biography,Crime' 'Comedy,Drama,Horror'
 'Comedy,Crime,Mystery' 'Animation,Drama' 'Action,Adventure,Western'
 'Comedy,Mystery,Romance' 'Romance,Thriller' 'Biography,Documentary,Drama'
 'Drama,Western' 'Adventure,Mystery,Sci-Fi' 'Comedy,Fantasy,Horror'
 'Action,Horror,Sci-Fi' 'Biography,Drama,Thriller'
 'Drama,History,Thriller' 'Action,Drama,Mystery' 'Comedy,Music,Romance'
 'Action,Comedy,Western' 'Action,Comedy,Sport' 'Action,Comedy,Horror'
 'Fantasy,Romance' 'Action,Crime,Mystery' 'Crime,Mystery,Thriller'
 'Action,History' 'Adventure,Drama,Romance' 'Drama,History,Romance'
 'Drama,Fantasy,Thriller' 'Drama,Mystery,Western'
 'Animation,Comedy,Fantasy' 'Comedy,Mystery,Thriller'
 'Animation,Crime,Drama' 'Biography,Crime,Documentary' 'Animation,Fantasy'
 'Fantasy' 'Drama,Thriller,War' 'Action,Horror,Mystery'
 'Biography,Documentary,History' 'Adventure,Drama,Sport'
 'Adventure,Fantasy' 'Adventure,Comedy,Crime' 'Action,Biography,Drama'
 'Comedy,Horror,Romance' 'Animation,Drama,Family' 'Comedy,Documentary'
 'Horror,Sci-Fi,Thriller' 'Adventure,History' 'Mystery' 'Biography,Comedy'
 'Drama,Horror' 'Music' 'Drama,Family,Music' 'Action,Fantasy,Romance'
 'Action,Adventure' 'Adventure,Drama,Sci-Fi' 'Animation'
 'Action,Mystery,Sci-Fi' 'Action,Adventure,Mystery' 'Comedy,Musical'
 'Action,Sport,War' 'Comedy,Drama,History' 'Animation,Biography,Drama'
 'Comedy,Western' 'Drama,Fantasy,Music' 'Action,Animation,Drama'
 'Adventure,Family,Sci-Fi' 'Drama,Fantasy,Mystery'
 'Adventure,Animation,Drama' 'Crime,Drama,Fantasy'
 'Biography,Documentary,Thriller' 'Documentary,Drama,Music'
 'Drama,Musical,Romance' 'Comedy,Thriller' 'Animation,Drama,Sci-Fi'
 'Adventure,Crime,Drama' 'Action,Adventure,Biography' 'Comedy,Music'
 'Adventure,Drama' 'Adventure,Biography,Comedy' 'Drama,Mystery,Sci-Fi'
 'Drama,Horror,Sci-Fi' 'Comedy,Drama,Thriller' 'Fantasy,Horror'
 'Comedy,Mystery,Sci-Fi' 'Mystery,Romance,Thriller'
 'Animation,Comedy,Drama' 'Biography,Documentary,Music'
 'Crime,Horror,Thriller' 'Action,Horror,Thriller' 'Action,Drama,Sport'
 'Adventure,Comedy,Romance' 'Animation,Drama,Fantasy' 'Comedy,Drama,War'
 'Sci-Fi' 'Documentary,Drama,Sport' 'Biography,Drama,Musical' 'Crime'
 'Action,Comedy,Thriller' 'Action,Biography,Comedy' 'Action,Comedy,War'
 'Animation,Biography,Crime' 'Drama,History,Sport' 'Documentary,Family'
 'Action,Sport' 'Action,Comedy,Mystery' 'Comedy,Musical,Romance'
 'Horror,Romance,Thriller' 'Romance' 'Adventure,Comedy,Horror'
 'Comedy,Sport' 'Comedy,History' 'Biography,Drama,War' 'Fantasy,Thriller']

In [42]:
movie_genres_list = []

for x in df_unique:
    movie_genres_list.extend(x.split(','))

NameError: name 'df_unique' is not defined

In [57]:
movie_genres = list(set(movie_genres_list))

['Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Adventure,Drama,Fantasy',
 'Animation,Comedy,Family',
 'Action,Adventure,Animation',
 'Adventure,Family,Fantasy',
 'Biography,Drama,History',
 'Action,Drama,Family',
 'Action,Adventure,Fantasy',
 'Drama,Thriller',
 'Action,Animation,Comedy',
 'Action,Adventure,Drama',
 'Action,Drama',
 'Action,Adventure,Thriller',
 'Action,Adventure,Family',
 'Comedy,Romance',
 'Action,Adventure,Horror',
 'Mystery,Thriller',
 'Action,Mystery,Thriller',
 'Comedy,Drama,Romance',
 'Comedy',
 'Adventure,Drama,Western',
 'Adventure,Comedy,Family',
 'Biography,Drama',
 'Adventure,Comedy',
 'Drama,Romance',
 'Thriller',
 'Drama',
 'Horror',
 'Action,Comedy,Crime',
 'Action,Thriller',
 'Documentary',
 'Action,Crime',
 'Crime,Drama,Thriller',
 'Comedy,Crime,Romance',
 'Drama,Fantasy,Horror',
 'Action,Comedy,Romance',
 'Biography,Drama,Sport',
 'Drama,Romance,War',
 'Action,Comedy,Family',
 'Comedy,Family,Fantasy',
 'Drama,Fantasy,Romance',
 'Crime,Drama,Mystery',
 'Action,Crime,Drama',
 'Action,Comedy',
 'Action,Drama,Thriller',
 'Adventure,Comedy,Music',
 'Drama,Music,Musical',
 'Drama,Music,Romance',
 'Comedy,Family',
 'Comedy,Horror',
 'Adventure,Comedy,Drama',
 'Comedy,Drama,Family',
 'Action,Crime,Thriller',
 'Drama,Horror,Thriller',
 'Action,Sci-Fi,Thriller',
 'Comedy,Sci-Fi',
 'Horror,Mystery,Thriller',
 'Adventure,Biography,Drama',
 'Biography,Drama,Family',
 'Drama,Mystery,Thriller',
 'Horror,Thriller',
 'Action,Comedy,Fantasy',
 'Comedy,Family,Romance',
 'Action,Adventure,Crime',
 'Comedy,Romance,Sport',
 'Drama,Music',
 'Comedy,Drama',
 'Action,Crime,Sci-Fi',
 'Action,Family,Fantasy',
 'Drama,Mystery',
 'Crime,Drama',
 'Biography,Comedy,Drama',
 'Action,Fantasy,Western',
 'Action,Drama,Fantasy',
 'Crime,Horror,Mystery',
 'Biography,Crime,Drama',
 'Drama,Romance,Sci-Fi',
 'Crime,Documentary',
 'Biography,Documentary',
 'Comedy,Crime,Documentary',
 'Biography,Drama,Music',
 'Adventure',
 'Comedy,Crime,Drama',
 'Drama,Sci-Fi,Thriller',
 'Adventure,Fantasy,Horror',
 'Crime,Drama,Horror',
 'Documentary,Drama,Mystery',
 'Action,Drama,Romance',
 'Drama,Family',
 'Family,Sport',
 'Comedy,Crime',
 'Family',
 'Comedy,Drama,Musical',
 'Documentary,War',
 'Biography,Drama,Romance',
 'Action,Fantasy,Horror',
 'Biography,Comedy,Crime',
 'Comedy,Drama,Music',
 'Drama,Romance,Thriller',
 'Comedy,Drama,Fantasy',
 'Thriller,Western',
 'Documentary,History',
 'Crime,Thriller',
 'Comedy,Mystery',
 'Action,Drama,Sci-Fi',
 'Mystery,Sci-Fi,Thriller',
 'Adventure,Drama,Family',
 'Drama,History,War',
 'Action,Adventure,Comedy',
 'Comedy,Fantasy,Romance',
 'Romance,Sci-Fi,Thriller',
 'Adventure,Drama,Thriller',
 'Documentary,Music',
 'Adventure,Comedy,Sci-Fi',
 'Horror,Mystery',
 'Drama,Horror,Mystery',
 'Fantasy,Horror,Mystery',
 'Action,Comedy,Drama',
 'Action,Sci-Fi',
 'Comedy,Fantasy',
 'Documentary,News',
 'Drama,Fantasy',
 'Drama,History',
 'Adventure,Drama,Mystery',
 'Action',
 'Adventure,Animation,Family',
 'Fantasy,Horror,Thriller',
 'Adventure,Documentary',
 'Action,Fantasy,Thriller',
 'Action,Drama,History',
 'Horror,Mystery,Sci-Fi',
 'Adventure,Comedy,Fantasy',
 'Drama,Sport',
 'Drama,War',
 'Adventure,Drama,History',
 'Documentary,Drama,Family',
 'Comedy,Crime,Thriller',
 'Animation,Comedy,Crime',
 'Drama,Sci-Fi',
 'Drama,Mystery,Romance',
 'Crime,Drama,History',
 'Horror,Romance',
 'Comedy,Drama,Sport',
 'Adventure,Comedy,Western',
 'Crime,Documentary,History',
 'Biography,Documentary,Sport',
 'Action,Comedy,Sci-Fi',
 'Comedy,Crime,History',
 'Crime,Drama,Romance',
 'Comedy,Drama,Mystery',
 'Action,Biography,Crime',
 'Comedy,Drama,Horror',
 'Comedy,Crime,Mystery',
 'Animation,Drama',
 'Action,Adventure,Western',
 'Comedy,Mystery,Romance',
 'Romance,Thriller',
 'Biography,Documentary,Drama',
 'Drama,Western',
 'Adventure,Mystery,Sci-Fi',
 'Comedy,Fantasy,Horror',
 'Action,Horror,Sci-Fi',
 'Biography,Drama,Thriller',
 'Drama,History,Thriller',
 'Action,Drama,Mystery',
 'Comedy,Music,Romance',
 'Action,Comedy,Western',
 'Action,Comedy,Sport',
 'Action,Comedy,Horror',
 'Fantasy,Romance',
 'Action,Crime,Mystery',
 'Crime,Mystery,Thriller',
 'Action,History',
 'Adventure,Drama,Romance',
 'Drama,History,Romance',
 'Drama,Fantasy,Thriller',
 'Drama,Mystery,Western',
 'Animation,Comedy,Fantasy',
 'Comedy,Mystery,Thriller',
 'Animation,Crime,Drama',
 'Biography,Crime,Documentary',
 'Animation,Fantasy',
 'Fantasy',
 'Drama,Thriller,War',
 'Action,Horror,Mystery',
 'Biography,Documentary,History',
 'Adventure,Drama,Sport',
 'Adventure,Fantasy',
 'Adventure,Comedy,Crime',
 'Action,Biography,Drama',
 'Comedy,Horror,Romance',
 'Animation,Drama,Family',
 'Comedy,Documentary',
 'Horror,Sci-Fi,Thriller',
 'Adventure,History',
 'Mystery',
 'Biography,Comedy',
 'Drama,Horror',
 'Music',
 'Drama,Family,Music',
 'Action,Fantasy,Romance',
 'Action,Adventure',
 'Adventure,Drama,Sci-Fi',
 'Animation',
 'Action,Mystery,Sci-Fi',
 'Action,Adventure,Mystery',
 'Comedy,Musical',
 'Action,Sport,War',
 'Comedy,Drama,History',
 'Animation,Biography,Drama',
 'Comedy,Western',
 'Drama,Fantasy,Music',
 'Action,Animation,Drama',
 'Adventure,Family,Sci-Fi',
 'Drama,Fantasy,Mystery',
 'Adventure,Animation,Drama',
 'Crime,Drama,Fantasy',
 'Biography,Documentary,Thriller',
 'Documentary,Drama,Music',
 'Drama,Musical,Romance',
 'Comedy,Thriller',
 'Animation,Drama,Sci-Fi',
 'Adventure,Crime,Drama',
 'Action,Adventure,Biography',
 'Comedy,Music',
 'Adventure,Drama',
 'Adventure,Biography,Comedy',
 'Drama,Mystery,Sci-Fi',
 'Drama,Horror,Sci-Fi',
 'Comedy,Drama,Thriller',
 'Fantasy,Horror',
 'Comedy,Mystery,Sci-Fi',
 'Mystery,Romance,Thriller',
 'Animation,Comedy,Drama',
 'Biography,Documentary,Music',
 'Crime,Horror,Thriller',
 'Action,Horror,Thriller',
 'Action,Drama,Sport',
 'Adventure,Comedy,Romance',
 'Animation,Drama,Fantasy',
 'Comedy,Drama,War',
 'Sci-Fi',
 'Documentary,Drama,Sport',
 'Biography,Drama,Musical',
 'Crime',
 'Action,Comedy,Thriller',
 'Action,Biography,Comedy',
 'Action,Comedy,War',
 'Animation,Biography,Crime',
 'Drama,History,Sport',
 'Documentary,Family',
 'Action,Sport',
 'Action,Comedy,Mystery',
 'Comedy,Musical,Romance',
 'Horror,Romance,Thriller',
 'Romance',
 'Adventure,Comedy,Horror',
 'Comedy,Sport',
 'Comedy,History',
 'Biography,Drama,War',
 'Fantasy,Thriller']