In [1]:
import sqlite3
import pandas as pd

In [2]:
data_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [3]:
data_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
data_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [5]:
data_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [6]:
data_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [8]:
data_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [9]:
data_title_overall = pd.merge(data_title_basics, data_title_ratings, on='tconst', how='inner')

In [10]:
print(data_title_overall)

          tconst                    primary_title              original_title  \
0      tt0063540                        Sunghursh                   Sunghursh
1      tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2      tt0069049       The Other Side of the Wind  The Other Side of the Wind
3      tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4      tt0100275         The Wandering Soap Opera       La Telenovela Errante
...          ...                              ...                         ...
73851  tt9913084                 Diabolik sono io            Diabolik sono io
73852  tt9914286                Sokagin Çocuklari           Sokagin Çocuklari
73853  tt9914642                        Albatross                   Albatross
73854  tt9914942       La vida sense la Sara Amat  La vida sense la Sara Amat
73855  tt9916160                       Drømmeland                  Drømmeland

       start_year  runtime_minutes                genres  averagerating  \
0            2013            175.0    Action,Crime,Drama            7.0
1            2019            114.0       Biography,Drama            7.2
2            2018            122.0                 Drama            6.9
3            2018              NaN          Comedy,Drama            6.1
4            2017             80.0  Comedy,Drama,Fantasy            6.5
...           ...              ...                   ...            ...
73851        2019             75.0           Documentary            6.2
73852        2019             98.0          Drama,Family            8.7
73853        2017              NaN           Documentary            8.5
73854        2019              NaN                   NaN            6.6
73855        2019             72.0           Documentary            6.5

       numvotes
0            77
1            43
2          4517
3            13
4           119
...         ...
73851         6
73852       136
73853         8
73854         5
73855        11

[73856 rows x 8 columns]

In [11]:
data_title_overall.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119