In [1]:
import pandas as pd

In [2]:
data_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [3]:
data_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
data_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [5]:
data_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [6]:
data_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [7]:
data_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [8]:
data_title_overall = pd.merge(data_title_basics, data_title_ratings, on='tconst', how='inner')

In [9]:
data_title_overall.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [10]:
data_title_overall = data_title_overall.rename(columns={'primary_title': 'title'})

In [11]:
data_title_overall.head()

,tconst,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [12]:
data_movie_gross.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [13]:
movie_titles = pd.merge(data_movie_gross, data_title_overall, on='title', how='inner')

In [14]:
movie_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            3027 non-null   object
 1   studio           3024 non-null   object
 2   domestic_gross   3005 non-null   float64
 3   foreign_gross    1832 non-null   object
 4   year             3027 non-null   int64
 5   tconst           3027 non-null   object
 6   original_title   3027 non-null   object
 7   start_year       3027 non-null   int64
 8   runtime_minutes  2980 non-null   float64
 9   genres           3020 non-null   object
 10  averagerating    3027 non-null   float64
 11  numvotes         3027 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 307.4+ KB

In [15]:
movie_titles.head()

,title,studio,domestic_gross,foreign_gross,year,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Toy Story 3,BV,415000000.0,652000000,2010,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
1,Inception,WB,292600000.0,535700000,2010,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,tt0892791,Shrek Forever After,2010,93.0,"Adventure,Animation,Comedy",6.3,167532
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,tt1325004,The Twilight Saga: Eclipse,2010,124.0,"Adventure,Drama,Fantasy",5.0,211733
4,Iron Man 2,Par.,312400000.0,311500000,2010,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690

In [16]:
movie_titles.nunique()

title              2598
studio              216
domestic_gross     1522
foreign_gross      1006
year                  9
tconst             3025
original_title     2727
start_year           10
runtime_minutes     134
genres              322
averagerating        71
numvotes           2742
dtype: int64

In [17]:
movie_titles.head(20)

,title,studio,domestic_gross,foreign_gross,year,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Toy Story 3,BV,415000000.0,652000000,2010,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
1,Inception,WB,292600000.0,535700000,2010,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,tt0892791,Shrek Forever After,2010,93.0,"Adventure,Animation,Comedy",6.3,167532
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,tt1325004,The Twilight Saga: Eclipse,2010,124.0,"Adventure,Drama,Fantasy",5.0,211733
4,Iron Man 2,Par.,312400000.0,311500000,2010,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
5,Tangled,BV,200800000.0,391000000,2010,tt0398286,Tangled,2010,100.0,"Adventure,Animation,Comedy",7.8,366366
6,Despicable Me,Uni.,251500000.0,291600000,2010,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511
7,How to Train Your Dragon,P/DW,217600000.0,277300000,2010,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
8,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010,tt0980970,The Chronicles of Narnia: The Voyage of the Da...,2010,113.0,"Adventure,Family,Fantasy",6.3,129663
9,The King's Speech,Wein.,135500000.0,275400000,2010,tt1504320,The King's Speech,2010,118.0,"Biography,Drama,History",8.0,593629
10,The Karate Kid,Sony,176600000.0,182500000,2010,tt1155076,The Karate Kid,2010,140.0,"Action,Drama,Family",6.2,146401
11,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010,tt0473075,Prince of Persia: The Sands of Time,2010,116.0,"Action,Adventure,Fantasy",6.6,254975
12,Black Swan,FoxS,107000000.0,222400000,2010,tt0947798,Black Swan,2010,108.0,"Drama,Thriller",8.0,648854
13,Megamind,P/DW,148400000.0,173500000,2010,tt1001526,Megamind,2010,95.0,"Action,Animation,Comedy",7.3,207488
14,Robin Hood,Uni.,105300000.0,216400000,2010,tt0955308,Robin Hood,2010,140.0,"Action,Adventure,Drama",6.6,239480
15,Robin Hood,Uni.,105300000.0,216400000,2010,tt2363363,Robin Hood,2013,92.0,"Action,Drama",6.3,78
16,Robin Hood,Uni.,105300000.0,216400000,2010,tt4532826,Robin Hood,2018,116.0,"Action,Adventure,Thriller",5.3,41588
17,Robin Hood,Uni.,105300000.0,216400000,2010,tt6858500,Robin Hood,2018,NaN,NaN,7.6,5
18,The Last Airbender,Par.,131800000.0,187900000,2010,tt0938283,The Last Airbender,2010,103.0,"Action,Adventure,Family",4.1,137734
19,Little Fockers,Uni.,148400000.0,162200000,2010,tt0970866,Little Fockers,2010,98.0,"Comedy,Romance",5.5,99222